* {
	padding: 0px;
	margin: 0px;
}
.boton-octava  {
	height: 10vh;
	width: 10vh;
	position: absolute;
}
.espacio {
	height: 50%;
	width: 100%;
}
.sharp {
	position: absolute;
	top: 0px;
	background: black;
	color: white;
	height: 50%;
	vertical-align: bottom;
}
.sharp:hover {
	background: #888;
}
.sharp:active {
	background: #ccc;
}
.flat {
	background: white;
	color: black;
	height: 100%;
	vertical-align: bottom;
}
.flat:hover {
	background: #ccc;
}
.flat:active {
	background: #888;
}
.piano {
	height: 100%;
	width: 100%;
}
.labelWhite {
	position: absolute;
	bottom: 10px;
	font-size: 1.5em;
}
.labelBlack {
	position: absolute;
	width: 100%;
	bottom: 10px;
	font-size: 1.5em;
}